nav.navbar {
	background-color: #02217D;
}

/* .active {
	background-color: #f2f2f2;
} */

a.navbar-brand {
	font-family: 'Yellowtail', cursive;
	font-size: 1.5em;
}

#mainMe{
	margin-left: auto;
	margin-right: auto;
	width: 7.5em;
	height: 10em;
}

footer.footer{
	position: absolute;
	bottom: 0px;
	max-width: 90%;
	border-top:solid black 1px;
}

#html{
	background-color: blue;
	width: 5px;
    height: 50px;
    animation-name: html;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    margin-bottom: 5px;
   
}

/* Chrome, Safari, Opera */
@-webkit-keyframes html {
    from {width: 5px;}
    to {width: 70%;}
}

#css{
	background-color: green;
	width: 5px;
    height: 50px;
	animation-name: css;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    margin-bottom: 5px;
    
}

/* Chrome, Safari, Opera */
@-webkit-keyframes css {
    from {width: 5px;}
    to {width: 60%;}
}

#js{
	background-color: red;
	width: 5px;
    height: 50px;
    animation-name: js;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
   
}

/* Chrome, Safari, Opera */
@-webkit-keyframes js {
    from {width: 5px;}
    to {width: 30%;}
}